*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height:100%;
}
header{
    display: flexbox;
    height: 300px;
    background-color: brown;
    width: 100%;
}
#h1-p{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    line-height: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#h1-p p{
    text-align: center;
    color: #fff;
}

#item{
    display: flexbox;
    align-content: center;
    flex-wrap: wrap;
}
#navbar{
    float: inline-end;
    margin-top: 15px;
    margin-left: 50%;
}
#navbar ul li{
    display: inline;
    margin: 10px;
    font-size: larger;
}
#navbarlogo{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

header h1{
    width: fit-content;
    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar a:hover{
    background-color: rgb(163, 163, 145);
    margin: 5px;
}
a:active {
    background-color: yellow;
  }
.about{
    display:flexbox;
    height: auto;
    background-color: rgb(187, 172, 172);
}
#profile-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:brown;
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;
}
#profile-picture img{
    display:flexbox;
    border: 3px solid  #df9019;
    border-radius: 20px;
}
#profile-picture p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#wrap1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: brown;
}
#career-objective{
    display:flexbox;
    flex-basis:600px;
    margin:10px;
    flex-grow: 1;
    text-align: justify;
    background-color: rgb(198, 185, 209);
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-wrap: wrap;
}
#career-objective h3{
    text-align: center;
    margin-top: 10px;
}
#career-objective p{
    margin:10px;
}
#work-history{
    display:flexbox;
    flex-grow:1;
    flex-basis:600px;
    margin:10px;
    background-color: rgb(198, 185, 209);
    height:auto;
    line-height: 1.3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    flex-wrap: wrap;
}
#work-history h3{
    display: flexbox;
    text-align:center;
    margin-top: 10px;
}
#jobs {
    display: inline-flexbox;
    flex-direction:row-reverse;
    flex-grow: 1;
    align-items:normal;
}
#job1, #job2, #job3, #job4{
    display: flexbox;
}
#job1 h4, #job2 h4, #job3 h4, #job4 h4{
    text-align:center;
    margin: 10px 0 10px 0;
    font-size:large;
    text-decoration: underline;
}
#work-history ul{
    list-style:inside;
} 
#work-history ul li{
    list-style:inside;
} 

#Institutions{
    display:flexbox;
    flex-grow: 1;
    flex-basis:600px;
    margin:10px;
    background-color: rgb(198, 185, 209);
}
#paragraph3 ul li{
    list-style:inside;

}
#Institutions h3{
    text-align: centre;
}
.inline1{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:fit-content;
    justify-content:flex-start;
    margin-bottom:5px;
    margin-top: 10px;
    margin-left: 10px;
}
.inline2{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:fit-content;
    justify-content:flex-start;
    margin-bottom:5px;
    margin-left: 10px;
}
.inline3{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:fit-content;
    justify-content:flex-start;
    margin-bottom:5px;
    margin-left: 10px;
}
.inline4{
    display:flex;
    flex-direction: row;
    width: 100%;
    height:fit-content;
    justify-content:flex-start;
    margin-bottom:30px;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 40px;
}
#block1{
    display:flexbox;
    margin-top: 10px;
    margin-left: 30px;
    flex-shrink: 1;
}
#block2{
    display:flexbox;
    margin-top: 10px;
    margin-left: 30px;
    flex-shrink: 1;
}
#block3{
    display:flexbox;
    margin-top: 10px;
    margin-left: 30px;
    flex-shrink: 1;
}
#block4{
    display:flexbox;
    margin-top: 10px;
    margin-left: 30px;
    flex-shrink: 1;
}
#cont-form{
    display: flexbox;
}
#cont-header{
    text-align: center;
}
footer {
    color: #fff;
}
ul {
    padding: 0px;
}
ol, ul {
    margin-bottom: 0px;
}

.social-icon {
    padding: 0;
    margin-bottom: 0px;
        float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li i {
    font-size: 14px;
    color: #262725;
    border: solid 2px #ffffff;
    height: 31px;
    width: 31px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    line-height: 27px;
    margin-right: 15px;
    transition: 1s;
    background: #fff;
}
.social-icon li i:hover {
    border: solid 2px #262725;
    color: #ffffff;
    background: #262725;
}

.phone-no i {
    position: relative;
    margin-right: 14px;
    font-size: 43px;
    top: 5px;
}
.phone-no {
    margin-top: -22px;
    text-align: right;
}
.footer-day-time {
    padding-bottom: 30px;
    border-bottom: 2px solid #7a6f6f;
    padding-top: 14px;
    margin-bottom: 55px;
}
.footer-day-time ul li {
    display: inline;
    margin-right: 20px;
}
.footer-day-time ul li:last-child {
    margin-right: 0px;
}
.phone-no a {
    color: #fff;
    font-family: PlayfairDisplay-Black;
    font-size: 34px;
    font-weight: bold;
}
.footer-top {
    background: #2f2f2f;
    padding:50px 0 50px;
}
.footer-top h4 {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-top p {
    font-size: 13px;
    line-height: 2;
}

footer p {
  margin-bottom:0;
}
.footer-logo {
    display: block;
    margin-bottom: 32px;
}
.address1 li {
    list-style: none;
    position: relative;
    padding: 0px 0 14px 34px;
    line-height: 26px;
}
ul.address1 span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
}
.address1 li a {
    color: #fff;
    text-decoration: none;
}
ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 28px;
    top: 0;
}

ul.address1 i.fa-envelope {
    font-size: 18px;
    top: 4px;
}
footer ul.social-icon {
    float: left;
}
footer .social-icon li i:hover {
    background: #4b8800;
    border-color: #4b8800;
}

.footer-bottom {
    background: #4b8800;
    padding: 10px 0px;
}
.footer-bottom ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}
.footer-bottom ul li a{
    color:#fff;
}

.footer-bottom ul {
    float: right;
}

.footer-bottom ul li:last-child {
    margin-right: 0;
}
.copyright {
    font-size: 18px;
}
/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.linkedin span {
	background-color: #0077b5;
}
.instagram span {
  background-color: #bc2a8d;
}
.github span {
  background-color: #333;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .fa-twitter {
	color: #4099ff;
}
.icon-button .fa-facebook {
	color: #3B5998;
}
.icon-button .fa-linkedin {
	color: #0077b5;
}
.icon-button .fa-instagram {
	color: #4099ff;
}
.icon-button .fa-github {
	color: #333;
}
.icon-button:hover .fa-twitter,
.icon-button:hover .fa-facebook,
.icon-button:hover .fa-linkedin,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-github{
	color: white;
}
@media only screen and (max-width: 900px) {
    #navbarlogo{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #navbarlogo #navbar{
        text-align: center;
    }
    .footer-bottom{
        text-align: center;
    }
}